<header class="relative w-full md:w-11/12 sm:mx-auto">
    <div class="absolute inset-0 flex items-center justify-between px-4">

        <a href="/" class="transition duration-150 ease-in-out logo-link arizonia-regular text-slate-400 hover:font-bold hover:text-stone-800 hover:scale-120">
        <span class="logo-title arizonia-regular">SaBa</span>
        <span class="logo-subtitle arizonia-regular">Art Gallery</span>
        </a>

        <div class="mt-20 space-x-2 topnav md:space-x-5 text-slate-400" id="myTopnav">
            <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
        <a href="/gallery/" class="{% if page.url == '/gallery/' %}active{% endif %}">Gallery</a>
        <a href="/contact/" class="{% if page.url == '/contact/' %}active{% endif %}">Contact</a>
        <a href="/commission/" class="{% if page.url == '/commission/' %}active{% endif %}">Commission</a>
        <a href="/about/" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
        <a href="/artistic-concept/" class="{% if page.url == '/artistic-concept/' %}active{% endif %}">Artistic Concept</a>
        <a href="/method-and-materials/" class="{% if page.url == '/method-and-materials/' %}active{% endif %}">Method & Materials</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </a>
        </div>
    </div>
</header>