<div
    x-data="imageGallery(artworkData)"
    class="h-120"
>
    <!-- Thumbnail viewer -->
    <div class="relative h-full mx-auto mb-2 md:ml-2" x-show="images.length">
        <img
            :src="images[currentIndex].picture"
            :alt="artwork.title"
            class="object-contain w-auto h-full mx-auto cursor-pointer"
            @click="showFull = true"
        >
        <div class="absolute top-0 right-0 text-xs bg-black/60 text-white px-2 py-0.5 rounded">
            <span x-text="currentIndex + 1"></span> of <span x-text="images.length"></span>
        </div>
        <template x-if="images.length > 1">
            <div>
                <button
                    class="absolute left-0 p-1 text-white transition rounded-full cursor-pointer top-1/2 bg-black/60 hover:scale-110"
                    @click="prev"
                >
                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                        <path
                        d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z">
                        </path>
                    </svg>
                </button>
                
                <button
                    class="absolute right-0 p-1 text-white transition rounded-full cursor-pointer top-1/2 bg-black/60 hover:scale-110"
                    @click="next"
                >
                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                        </path>
                    </svg>
                </button>
            </div>
        </template>
    </div>

    <!-- Fullscreen viewer -->
    <div
        x-show="showFull"
        @keydown.escape.window="showFull = false"
        @click="showFull = false"
        @keydown.arrow-right.window="next()"
        @keydown.arrow-left.window="prev()"
        x-cloak
    >
        <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/95">
            <div class="relative" @click.stop>
                <img
                    :src="images[currentIndex].picture"
                    :alt="artwork.title"
                    class="object-contain max-h-screen p-4"
                >
                <button
                    @click="showFull = false"
                    class="absolute px-3 py-1 text-xs text-white transition bg-black rounded cursor-pointer top-4 right-4 bg-opacity-60 hover:scale-125"
                >✕ Close</button>
                <div class="absolute px-2 text-xs text-white bg-black rounded top-4 left-4 bg-opacity-60">
                    <span x-text="currentIndex + 1"></span> of <span x-text="images.length"></span>
                </div>
                <button
                    class="absolute p-2 text-base text-white transition rounded-full cursor-pointer top-1/2 left-4 bg-black/60 hover:scale-125"
                    @click="prev"
                >
                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                        <path
                        d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z">
                        </path>
                    </svg>
                </button>
                <button
                    class="absolute p-2 text-base text-white transition rounded-full cursor-pointer top-1/2 right-4 bg-black/60 hover:scale-125"
                    @click="next"
                >
                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Artwork info -->
    <div class="max-w-2xl px-4 mx-auto mt-2 leading-6 text-center text-stone-700">
        <p class="mt-1 text-xs md:text-sm text-stone-400" x-text="images[currentIndex].caption"></p>
    </div>
</div>
<script>
  const artworkData = {{ site.data.showArtworks[page.slug] | jsonify }};
</script>
<script>
  function imageGallery(artwork) {
    return {
      artwork: artwork,
      images: artwork.images || [],
      currentIndex: 0,
      showFull: false,

      next() {
        this.currentIndex = (this.currentIndex + 1) % this.images.length;
      },

      prev() {
        this.currentIndex = (this.currentIndex - 1 + this.images.length) % this.images.length;
      }
    };
  }
</script>



