---
layout: default
---

<article class="w-full space-y-16">
    <nav class="text-sm text-right text-stone-500" aria-label="Breadcrumb">
        <ol class="inline-flex p-0 space-x-1 list-none">
            <li>
                <a href="/" class="hover:text-stone-700">Home</a>
                <span>/</span>
            </li>
               
            <li>
                <a href="/artworks/" class="hover:text-stone-700">Arworks Gallery</a>
                <span>/</span>
            </li>
              
            <li class="text-stone-700">{{ page.title }}</li>
        </ol>
    </nav>

    <h2 class="text-center md:text-left">{{ page.title }}</h2>

    <div class="flex flex-col items-center h-full space-y-12 md:space-y-0 md:flex-row">
        <div class="flex-1 space-y-3">
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Category:</span>
                <span>{{ page.category }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Calligrapher:</span>
                <span>{{ page.calligrapher }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Illumination (Tazhib):</span>
                <span>{{ page.illumination }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Poet:</span>
                <span>{{ page.poet }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Poem:</span>
                <span>{{ page.poem }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Year:</span>
                <span>{{ page.year }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Size:</span>
                <span>{{ page.size }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Materials:</span>
                <span>{{ page.materials }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Technique:</span>
                <span>{{ page.technique }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Frame:</span>
                <span>{{ page.frame }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Passe-partouts:</span>
                <span>{{ page.passe-partouts }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Price:</span>
                <span>{{ page.price }}</span>
            </p>
            <p class="text-sm text-gray-600">
                <span class="font-bold text-stone-800">Shipping:</span>
                <span>{{ page.shipping }}</span>
            </p>
        </div>

        <div class="">{% include image-show.html %}</div>

    </div>

    <div class="">
        {{ content }}
    

        <div>
            {% if page.published %}
                <p class="text-xs text-right text-stone-400">Published on: {{ page.published }}</p>
            {% endif %}
        </div>
    </div>
    <div class="px-2 space-y-6 md:px-32">
        <div>
            <h3 class="text-center">
               Need More Info About This Artwork?
            </h3>
            <h4 class="text-center">
               We’re Here to Answer Your Questions.
            </h4>
        </div>
        {% include contactForm.html %}
    </div>
</article>
