<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} – Saba Art Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

  <!-- custom styles -->
  <link rel="stylesheet" href="/assets/css/customStyles.css">


</head>
<body class="body-layout">

    <!-- Header -->
    {% include header.html %}

     <!-- Main Content -->
    <main class="flex-1 w-full px-4 mt-20 md:w-9/12 sm:mx-auto">
      {{ content }}
    </main>

    <!-- Footer -->
    {% include footer.html %}
    
    <script>
        // Toggle mobile nav
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
            x.className += " responsive";
            } else {
            x.className = "topnav";
            }
        }

        // Close panel on outside click
        document.addEventListener('click', function(event) {
            var nav = document.getElementById("myTopnav");
            var isClickInside = nav.contains(event.target);

            if (!isClickInside && nav.className.includes("responsive")) {
            nav.className = "topnav"; // Remove 'responsive'
            }
        });
    </script>
</body>
</html>
